@import 'tailwindcss';

@theme {
  --font-sans: var(--font-arimo), sans-serif;
  --font-serif: var(--font-playfair-display), serif;
  --font-mono: var(--font-source-code-pro), monospace;

  --default-transition-duration: 500ms;
}

@layer base {
  * {
    &:focus-visible {
      outline: 1px solid var(--accent);
      outline-offset: 2px;
    }

    &::selection {
      background-color: var(--text);
      color: var(--bg);
    }
  }

  html {
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-serif);
  }
}

body {
  &:has(.loader:not(.complete)),
  &:has(.theme-dialog[open]) {
    overflow: hidden;
  }

  &.transitioning * {
    transition-duration: 0ms;
  }
}

.loader {
  &.complete {
    opacity: 0;
    pointer-events: none;
  }
}

main * {
  scroll-margin-block: calc(var(--nav-height) + 40px);
}

.theme-dialog {
  --drawer-duration: 250ms;

  outline: none;

  &::backdrop {
    background-color: rgba(0, 0, 0, 50%);
    backdrop-filter: blur(2px);
  }

  &[open] {
    .themes-container {
      animation: var(--drawer-duration) slide-in both;
    }

    &::backdrop {
      animation: var(--drawer-duration) fade-in both;
    }
  }

  &.closing {
    .themes-container {
      animation: var(--drawer-duration) slide-out both;
    }

    &::backdrop {
      animation: var(--drawer-duration) fade-out both;
    }
  }

  label {
    &:has(input:checked) {
      border-radius: 32px;
    }

    &:has(input:focus-visible) {
      outline: 1px solid var(--accent);
      outline-offset: 2px;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(var(--slide-out-start, 0%));
  }

  to {
    transform: translateX(100%);
  }
}
